[service_config]
service_name="tilda.ai.prod"

[dev_env_context]
engine = "<ENGINE_NAME_AND_VERSION>"
engineVersionManager = "<YOUR_ENGINE_VERSION_MANAGER>"
packageManager = "<YOUR_PACKAGE_MANAGER>"
build_tools = ["<BUILD_TOOL>", "<BUILD_TOOL>", "<BUILD_TOOL>"]
dev_tools = ["<DEV_TOOL>", "<DEV_TOOL>", "<DEV_TOOL>"]
languages = ["<LANGUAGE>", "<LANGUAGE>", "<LANGUAGE>"]

[commands.terminal]
base_model = "gpt-4o"
mock_response = """[
  {
    "responseType": "script",
    "errorMessage": "Mock Response",
    "shellScript": "echo 'Hello, from mocks!'",
    "executionOrder": 1,
    "isChainable": false
  }
]"""
