[dev_env_context]
engine = "<ENGINE_NAME_AND_VERSION>"
engineVersionManager = "<YOUR_ENGINE_VERSION_MANAGER>"
packageManager = "<YOUR_PACKAGE_MANAGER>"
build_tools = ["<BUILD_TOOL>", "<BUILD_TOOL>", "<BUILD_TOOL>"]
dev_tools = ["<DEV_TOOL>", "<DEV_TOOL>", "<DEV_TOOL>"]
languages = ["<LANGUAGE>", "<LANGUAGE>", "<LANGUAGE>"]

[api_keys]
open_ai_api_key = "<YOUR_OPEN_AI_API_KEY>"
claude_api_key = "<YOUR_CLAUDE_API_KEY>"
gemini_api_key = "<YOUR_GEMINI_API_KEY>"
mistral_api_key = "<YOUR_MISTRAL_API_KEY>"
groq_api_key = "<YOUR_GROQ_API_KEY>"

[api_endpoints]
ollama = "http://127.0.0.1:11434"

[commands.terminal]
base_model = "gpt-3.5-turbo-0125"
token_encoding = "cl100k_base"
